@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf');
}

@font-face {
  font-family: 'RobotoMono-bold';
  src: url('./fonts/RobotoMono-Bold.ttf');
}

* {
  font-family: 'RobotoMono', monospace;
}
h1{
  font-family: RobotoMono-bold;
  font-size: 2.2rem;
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: white; 
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}